---
openapi: 3.0.0
info:
  title: PigeonHole API
  description: API for Pigeonhole services.
  version: 1.0.0
servers:
  - description: Production server (uses live data)
    url: https://api.pigeonhole.io/v1/
  - description: Localhost Dev
    url: http://localhost:3000/v1/
tags:
  - description: Everything relating to the user
    name: User
  - description: Everything relating to the user auth
    name: Auth
  - description: Endpoints relating to secrets
    name: Secret
  - description: Endpoints relating to OIDC
    name: OIDC
  
x-common-objects:
  commonResponses: &commonResponse
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GeneralMessage'
            type: object
      description: An object containing a common response layout
    # $ref: '#/components/responses/Secrets'
    # description: Successfully retrieved items
    # $ref: '#/components//GeneralMessageResponse'
  commonResonseErrors: &commonErrors
    '400': *commonResponse
    '401': *commonResponse
    '403': *commonResponse
    '404': *commonResponse
    '500': *commonResponse
  
components:
  responses:
    GeneralMessageWithSecretEnvelopeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretEnvolopeResponse'
      description: A Secret object
    Secret:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Secret'
      description: A Secret object
    Key:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Key'
      description: A Key object
    Keys:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/Key'
            type: array
      description: An array of Key objects
    Secrets:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/Secret'
            type: array
      description: Secret Response object
    GeneralMessageWithOIDCProvidersResponse:
      description: General Message Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
            - type: object
              properties:
                oidcProviders:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/OIDCProvider'


            - type: object
              properties:
                default:
                  type: string
    GeneralMessageWithKeysResponse:
      description: General Message Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
            - type: object
              properties:
                keys:
                  type: array
                  items:
                    $ref: '#/components/schemas/Key'
    GeneralMessageResponse:
      description: General Message Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
    GeneralMessageWithKeyResponse:
      description: General Message Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
            - type: object
              properties:
                keys:
                  type: array
                  items:
                    $ref: '#/components/schemas/Key'
    GeneralMessageWithUserResponse:
      description: General Message Response with Users 
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
            - type: object
              properties:
                user:
                  $ref: '#/components/schemas/User'
    GeneralMessageWithUsersResponse:
      description: General Message Response with Users
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
            - type: object
              properties:
                users:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
    GeneralMessageWithSecretResponse:
      description: General Message Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
            - type: object
              properties:
                secret:
                  $ref: '#/components/schemas/Secret'
    GeneralMessageWithSecretsResponse:
      description: General Message Response
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
            - type: object
              properties:
                secrets:
                  type: array
                  items:
                    $ref: '#/components/schemas/Secret'
  
            # $ref: '#/components/schemas/GeneralResponse'

          # schema:
          #   $ref: '#/components/schemas/GeneralMessageWithUserResponse'
    GeneralMessageWithTokenResponse:
      description: General Message Response with the PigeonHole JWT Access Token
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GeneralMessage'
            - $ref: '#/components/schemas/Token'
    User:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'
      description: A User object
    Users:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/User'
            type: array
      description: An array of User objects
  schemas:
    GeneralMessageWithUserResponse:
      type: object
      properties:
        fields:
          type: object
          properties:
            message:
              type: string
            user:
              $ref: '#/components/schemas/User'
    # PigeonHoleJWTClaims:
    #   description: This is used to pass the IdP issued id/access token to exchange it for a PigeonHole access token
    #   type: object
    #   properties:
    #     aud:
    #       type: string
    #       nullable: false
    #     sub:
    #       type: string
    #       nullable: false
    #     idp:
    #       type: string
    #       nullable: false
    #     iat:
    #       type: number
    #       nullable: false
    #     exp:
    #       type: number
    #       nullable: false
    OIDCProviderToken:
      description: This is used to pass the IdP issued id/access token to exchange it for a PigeonHole access token
      type: object
      properties:
        accessToken:
          type: string
          nullable: false
    OIDCProvider:
      type: object
      properties:
        name:
          type: string
          nullable: false
        handlerUrl:
          type: string
          nullable: true
        authUrl:
          type: string
          nullable: false
        tokenUrl:
          type: string
          nullable: false
        deviceAuthURL:
          type: string
          nullable: false
        clientID:
          type: string
          nullable: false
        scopes:
          type: array
          nullable: false
          items:
            type: string
        # tokenHandlerEndpoint:
        #   type: string
        #   nullable: false
        
    SecretEnvolopeResponse:
      type: object
      properties:
        s3_info:
          type: object
          properties:
            fields:
              type: object
              properties:
                key:
                  type: string
                policy:
                  type: string
                x-amz-algorithm:
                  type: string
                x-amz-credential:
                  type: string
                x-amz-date:
                  type: string
                x-amz-meta-recipient_ids:
                  type: array
                  items:
                    type: string
                x-amz-meta-sender_id:
                  type: string
                x-amz-meta-reference:
                  type: string
                x-amz-signature:
                  type: string
            url:
              type: string
              format: uri
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    CreateSecretResponse:
      type: object
      properties:
        s3_info:
          type: object
          properties:
            fields:
              type: object
              properties:
                key:
                  type: string
                policy:
                  type: string
                x-amz-algorithm:
                  type: string
                x-amz-credential:
                  type: string
                x-amz-date:
                  type: string
                x-amz-meta-recipient_ids:
                  type: array
                  items:
                    type: string
                x-amz-meta-sender_id:
                  type: string
                x-amz-meta-reference:
                  type: string
                x-amz-signature:
                  type: string
            url:
              type: string
              format: uri
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    CreateSecretEnvolopeOptions:
      properties:
        recipient_ids:
          description: A list of recipient IDs.
          items:
            type: string
          type: array
        reference:
          description: A reference string for the secret.
          type: string
        ephemeralkeys:
          description: A reference string for the secret.
          type: boolean
      required:
        - recipient_ids
        - reference
      type: object
    NewKey:
      properties:
        key_data:
          type: string
        thumbprint:
          type: string
        only:
          type: boolean
          default: false
        force:
          type: boolean
          default: false
        reference:
          type: string
    Key:
      properties:
        reference:
          type: string
        created_at:
          type: string
          format: date-time
        id:
          format: uuid
          type: string
        thumbprint:
          type: string
        key_data:
          type: string
      required:
        - tenant
        - key
      type: object
    Secret:
      properties:
        reference:
          type: string
        recipient:
          type: string
        sender:
          type: string
        sent_at:
          type: string
          format: date-time
        size:
          type: integer
          format: int64
      type: object
    Tenant:
      properties:
        id:
          format: uuid
          type: string
        name:
          type: string
        ref:
          type: string
      required:
        - name
        - ref
      type: object
    Token:
      description: A JWT token created by PigeonHole after the IdP ID Token has been excha
      properties:
        accessToken:
          type: string
          description: A JWT token
      required:
        - accessToken
      type: object
    User:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Key'
        email:
          type: string
        id:
          format: uuid
          type: string
        shortcode:
          type: string
      required:
        - username
    GeneralMessage:
      type: object
      properties:
        message:
          type: string
          nullable: true
        code:
          type: integer
          nullable: true
      required:
        - message

    name:
      type: object
      properties:
        property:
          type: integer 
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
paths:
  /auth/oidc/providers:
    get:
      tags:
        - Auth
      summary: List providers
      responses:
        '200':
          description: This generates a list of available OIDC providers
          $ref: '#/components/responses/GeneralMessageWithOIDCProvidersResponse'
        <<: *commonErrors
  /auth/oidc/handler/generic-jwt:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCProviderToken'
        required: true
      responses:
        '201':
          description: This is where the cli will post the ID token from the OIDC provider
          $ref: '#/components/responses/GeneralMessageWithTokenResponse'
        <<: *commonErrors
      summary: Generic ID Token handler to be exchanged for a Pigeonhole token
  /auth/oidc/handler/generic:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCProviderToken'
        required: true
      responses:
        '201':
          description: This is where the cli will post the ID token from the OIDC provider
          $ref: '#/components/responses/GeneralMessageWithTokenResponse'
        <<: *commonErrors
      summary: Generic ID Token handler to be exchanged for a Pigeonhole token
  /auth/oidc/handler/github:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCProviderToken'
        required: true
      responses:
        '201':
          description: This is where the cli will post the ID token from the OIDC provider
          $ref: '#/components/responses/GeneralMessageWithTokenResponse'
        <<: *commonErrors
      summary: Generic ID Token handler to be exchanged for a Pigeonhole token

  /secret:
    delete:
      tags:
        - Secret
      description: Delete all the users received secrets
      responses:
        '204':
          $ref: '#/components/responses/GeneralMessageResponse'
          description: Deletion of all users rececived secrets is successful
        <<: *commonErrors
      security:
        - BearerAuth: []

    get:
      description: Get my secrets
      parameters:
        - in: query
          name: reference
          required: false
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GeneralMessageWithSecretsResponse'
          description: Retrieve secrets sent to user
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get my secrets
      tags:
        - Secret
    post:
      description: Generates a presigned url
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretEnvolopeOptions'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/GeneralMessageWithSecretEnvelopeResponse'
        '406':
          $ref: '#/components/responses/GeneralMessageResponse'
        <<: *commonErrors
      security:
        - BearerAuth: []
      tags:
        - Secret
  /secret/{secret_id}:
    delete:
      tags:
        - Secret
      description: Delete a particular secret
      summary: Delete a particular secret
      parameters:
        - in: path
          name: secret_id
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/GeneralMessageResponse'
          description: Deletion of all users rececived secrets is successful
        <<: *commonErrors
      security:
        - BearerAuth: []
    get:
      description: Get a secret by id or reference
      parameters:
        - in: path
          name: secret_id
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GeneralMessageWithSecretResponse'
          description: Successfully retrieved items
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get secret by id or shortcode. This will include the presignedurl
      tags:
        - Secret
  /secret/{secret_id}/download:
    get:
      description: Redirects the request to the S3 presigned URL for download
      parameters:
        - in: path
          name: secret_id
          required: true
          schema:
            type: string
      responses:
        '307':
          description: Redirect to the file download URL
        <<: *commonErrors
      security:
        - BearerAuth: []
      tags:
        - Secret
  /user:
    get:
      description: Retrieve a list of users given a query e.g. user email, shortcode or id
      parameters:
        - in: query
          name: ephemeralkeys
          required: true
          schema:
            type: boolean
        - in: query
          name: email
          required: true
          schema:
            type: array
            items:
              type: string
              format: email
      responses:
        '200':
          $ref: '#/components/responses/GeneralMessageWithUsersResponse'
          description: Successfully retrieved users
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Retrieve all items from the given schema
      tags:
        - User
  /user/me:
    get:
      description: Get my user object
      responses:
        '200':
          $ref: '#/components/responses/GeneralMessageWithUserResponse'
          description: Successfully retrieved items
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get my user object
      tags:
        - User
  /user/me/rotate-shortcode:
    post:
      description: Rotate users short code to remain anonymous
      responses:
        '204':
          description: Successfully rotated shortcode
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get my user object
      tags:
        - User
  /user/me/key:
    get:
      description: Get my user object
      responses:
        '200':
          $ref: '#/components/responses/GeneralMessageWithKeysResponse'
          description: Successfully retrieved items
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get my user object
      tags:
        - User
        - Key
    post:
      description: Create new keys
      responses:
        '201':
          $ref: '#/components/responses/Key'
          description: Successfully uploaded key
        <<: *commonErrors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewKey'
      security:
        - BearerAuth: []
      summary: Get my user object
      tags:
        - User
        - Key
  /user/me/key/validate/{thumbprint}:
    get:
      description: Get users key by thumbprint
      parameters:
        - in: path
          name: thumbprint
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved items
        '404':
          description: No key found
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get my user object
      tags:
        - User
        - Key
  /user/{user_id}/key/validate/{thumbprint}:
    get:
      description: Get users key by thumbprint
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: path
          name: thumbprint
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved items
        '404':
          description: No key found
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get my user object
      tags:
        - User
        - Key
  /user/{user_id}:
    get:
      description: Get users' keys
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved items
          $ref: '#/components/responses/User'
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get my user object
      tags:
        - User
  /user/{user_id}/key:
    get:
      description: Get users' keys
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Return a list of keys
          $ref: '#/components/responses/Keys'
        <<: *commonErrors
      security:
        - BearerAuth: []
      summary: Get my user object
      tags:
        - Key
        - User
    post:
      description: r
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewKey'
        required: true
      responses:
        '201':
          description: OK
      security:
        - BearerAuth: []
      tags:
        - Key
        - User
  /user/{user_id}/key/{key_id}:
    delete:
      description: r
      parameters:
        - in: path
          name: key_id
          required: true
          schema:
            type: string
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
        required: true
      responses:
        '200':
          description: OK
        <<: *commonErrors
      security:
        - BearerAuth: []
      tags:
        - Key
        - User
    get:
      description: r
      parameters:
        - in: path
          name: key_id
          required: true
          schema:
            type: string
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
        required: true
      responses:
        '200':
          description: OK
        <<: *commonErrors
      security:
        - BearerAuth: []
      tags:
        - Key
        - User
  /user/{user_id}/public:
    get:
      description: Either a users email or id to retrieve public information
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved items
        <<: *commonErrors
      summary: Retrieve all public information about a user
      tags:
        - User